<section class="reviewcard">
    <div>
        <h1>
             {{title}}
        </h1>
        <p>
            {{content}}
        </p>
        <h6>Posted by: {{user.username}}</h6>
    </div>
</section>