<section class="reviewcard">
    <div>
        <p>{{movies.[0].name}}</p>
        <h1 id="reviewtitle">
             {{title}}
        </h1>
        <p id="reviewcontent">
            {{content}}
        </p>
        <h6 id="reviewuser">Posted by: {{user.username}}</h6>
    </div>
</section>