{{!-- STYLING --}}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #000000;
        color: #ffffff;
        margin: 0;
        padding: 0px;
    }

    .review-container {
        margin-bottom: 32px;
    }

    .review-container h1,
    .movie-name {
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 800;
        text-decoration: underline;
        color: #ec8be2;
        margin-bottom: 16px;
        box-shadow: 0 10px 15px -3px rgba(169, 46, 214, 0.5), 0 4px 6px -2px rgba(214, 158, 46, 0.25);
    }

    .review {
        background-color: #2d3748;
        padding: 16px;
        margin-bottom: 16px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        transition: transform 200ms;
    }

    .review:hover {
        transform: scale(1.05);
    }

    .review h2 {
        font-size: 1.25rem;
        font-weight: 700;
        color: #ec8be2;
        margin-bottom: 8px;
    }

    .review p {
        display: inline-block;
        white-space: normal;
        word-wrap: break-all;
        color: #cbd5e0;
    }
</style>

{{!-- MOVIE NAME AND RATING --}}
<div class="review-container">
    <div class="row">
        <p class="movie-name col-6">{{name}}</p>
        <p class=" movie-name average-rating col-6"></p>
    </div>
    {{!-- EACH REVIEW --}}
    {{#each reviews as |review|}}
    <div class="review">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <div class="rating" id="{{rating}}">
        </div>
    </div>
    {{/each}}
</div>

