<link rel="stylesheet" type="text/css" href="/CSS/signup.css">

<h2>Want to become a new member of Reel Radar? Sign up below!</h2>

<form action="" id="signup">
    <label for="signupEmail">New Username</label><br>
    <input type="text" id="signupName" placeholder="name"><br>
    <label for="signupEmail">Email</label><br>
    <input type="text" id="signupEmail" placeholder="email"><br>
    <label for="signupPassword">Password</label><br>
    <input type="password" id="signupPassword"><br>
    <button>Submit</button>
</form>
<script src="/js/auth.js"></script>
