<link rel="stylesheet" type="text/css" href="/CSS/signup.css">

<h2>Want to become a new member of Reel Radar? Sign up below!</h2>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script src="/controllers/api/mailer.js"></script>

<script type="text/javascript">
   (function(){
      emailjs.init({
      publicKey: "pDM8fG0IBn9yT5rwD",
        
      });
   })();
</script>

<form action="" id="signup">
    <label for="signupEmail">New Username</label><br>
    <input type="text" id="signupName" placeholder="name"><br>
    <label for="signupEmail">Email</label><br>
    <input type="text" id="signupEmail" placeholder="email"><br>
    <label for="signupPassword">Password</label><br>
    <input type="password" id="signupPassword"><br>
    <button class="btn" onclick="sendMail()" >Submit</button>
</form>
<script src="/js/auth.js"></script>
