<h2>Signup</h2>
<form action="" id="signup">
    <label for="signupEmail">name</label>
    <input type="text" id="signupName" placeholder="name">
    <label for="signupEmail">email</label>
    <input type="text" id="signupEmail" placeholder="email">
    <label for="signupPassword">password</label>
    <input type="password" id="signupPassword">
    <button>Submit</button>
</form>
<script src="/js/auth.js"></script>