<link rel="stylesheet" type="text/css" href="/css/jass.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

 <header>
    <button class="btn">Write A Review</button>
</header>

<main class="row">
    <section class="row">
        <div class="latestreviews row">
            <h2>Latest Reviews</h2>
            {{#each reviews as |review|}}
            {{> review-details}}
            {{/each}}
        </div>
    </section>
</main>

<footer>
    <p>test</p>
</footer>

<script src="/JS/homepage.js"></script>