<form class="postform" action="">
    <input type="text" name="Title" id="blogtitle">
    <input type="text" name="Content" id="blogcontent">
    <button type='submit' value='Submit'>Submit</button>
</form>



<script src="/JS/postLogic.js"></script>