<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="/css/userprofile.css">
</head>
<body>
  <div class="profile-container">
    <div class="reviews-box">
      <h2>My Reviews</h2>
      <!-- Display user's reviews here -->
      <div class="review-item">
        <h3>Movie Title</h3>
        <p>Review content...</p>
      </div>
      <!-- More review items as needed -->
    </div>
    <div class="favorites-box">
      <h2>Favorite Movies</h2>
      <!-- Display user's favorite movies here -->
      <div class="favorite-movie">
        <h3>Movie Title</h3>
        <img src="movie-poster.jpg" alt="Movie Poster">
      </div>
      <!-- More favorite movie items as needed -->
    </div>
    <div class="watchlist-box">
      <h2>Watchlist</h2>
      <!-- Display user's watchlist here -->
      <div class="watchlist-item">
        <h3>Movie Title</h3>
        <p>Release Date: January 1, 2024</p>
      </div>
      <!-- More watchlist items as needed -->
    </div>
  </div>
  <div class="header-icons">
        <a href="http://localhost:3002/profile" class="user-button"><i class="fas fa-user"></i></a>
        <a href="/" class="home-button"><i class="fas fa-home"></i></a>
    </div>

    <script src="/JS/postLogic.js"></script>
</body>
</html>
