$modal-inner-padding:1.4rem; 
$modal-content-color:rgba(0, 0, 0, 0.85); 
$modal-content-border-width:6px; 
$modal-content-border-color:black; 

@import "/node_modules/bootstrap/scss/bootstrap.scss"


