/* *{
    background-color: #36323C;
} */
header{
    background-color: #598898;
    height: 10vh;
}

main{
    background-color: #36323C;
    height: 80vh;
}

footer{
    background-color: #36323C;
    height: 10vh;
}

.latestreviews{
    margin: auto;
    width: 40vw;
    background-color: #53596b;
    border-radius: 15px;
}

.reviewcard{
    border: 5px solid black;
    border-radius: 15px;
}


/*          vvv Beginning of Button ui style vvv */
.btn {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
  /*             ^^^ End of Button ui style ^^^ */