body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.reviews-box {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 50%;
}

.right-boxes {
  margin-left: 20px;
}

.favorites-box,
.watchlist-box,
.userinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* Adjust minmax as needed */
  gap: 20px;
  /* This replaces the flex-wrap and justify-content properties */
  border: 5px solid rgb(130, 22, 143);
  border-radius: 5px;
  margin-top: 15px;
  background-color: black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
}
.titleArea{
  height: 75px;
}

.contentArea{
  width: 100%;
  height: 350px;
}

textarea{
  width: 100%;
}

.userinfo {
  display: flex;
  margin-left: 0px;
}

.favorite-movie {
  width: 137px;
  margin: 10px;
  text-align: center;

  h3 {
    text-align: center;
    font-size: 75%;
  }
}

.favorite-movie img {
  height: 160px;
  width: 105px;
  border-radius: 15px;
}

.expandable {
  background-color: #171717;
  color: rgb(255, 255, 255);
  margin: 15px;
}



#accordion {
  gap: 20px;
  border: 5px solid rgb(130, 22, 143);
  border-radius: 5px;
  margin-top: 15px;
  background-color: black;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;

  }
}

.collapse {
  background-color: #171717;
  border: 3px solid #212121;
  border-radius: 25px;
  margin: 8px;

  h6 {
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(130, 22, 143);
    width: fit-content;
  }
}

.editReviewBtn {
  position: absolute;
  right: 3.5rem;
  bottom: .7rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  font-size: 100%;
  border-radius: 100px;
  width: fit-content;
}

.editReviewBtn:hover {
  box-shadow: 0 0 10px rgb(255, 174, 0);
  color: rgb(160, 20, 188)
}

.watchlist-item {
  text-align: center;
  width: 137px;
  margin: 10px;

  h3 {
    text-align: center;
    font-size: 75%;
  }
}

.watchlist-item img {
  height: 160px;
  width: 105px;
  border-radius: 15px;
}

.userBoxes {
  background-color: black;
  position: relative;
  top: 55px;
  margin-top: 15px;
  margin-left: 25px;
  width: fit-content;
  height: fit-content;
  padding-bottom: 15px;
}

.addBtn {
  display: inline-block;
  background-color: #2a2929;
  position: relative;
  text-align: center;
  align-items: center;
  margin-left: 8px;
  width: fit-content;
  height: fit-content;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: white;
  font-size: 75%;
  border: 3px solid black;
  margin-right: 2px;
}

.addBtn:hover {

  background-color: #662185;
  border-color: #a13fce;
  bottom: 3px;

}

.editBtn {
  display: inline-block;
  background-color: #2a2929;
  position: relative;
  text-align: center;
  align-items: center;
  margin-left: 8px;
  width: fit-content;
  height: fit-content;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: white;
  font-size: 50%;
  border: 3px solid black;
  margin-right: 2px
}

.editBtn:hover {

  background-color: #662185;
  border-color: #a13fce;
  bottom: 3px;

}

a {
  text-decoration: none;
  color: aliceblue;
}

.modal-content {
  width: 750px;
  height: fit-content
}

#favorite {
  /* width: 500px;
  height: 600px; */
}

#nuke {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movieStyle {
  text-align: center;
  width: 100px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;

  p {
    color: aliceblue;
    font-size: 75%;
  }
}

.remove {
  position: relative;
  top: 15px;
  left: 50px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #2a2929;
  color: #f60a0a;
}

.remove:hover {
  background-color: #f60a0a;
  color: rgb(255, 255, 255);
  bottom: 3px;
}

.poster {
  padding: 0%;
  text-align: center;
  border: solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 15px;

  img {
    background-color: #121212;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 100px;
    height: 150px;
  }
}

.search {
  --input-line: #ff0000;
  --input-text-color: #ff0000;
  --input-text-hover-color: transparent;
  --input-border-color: #ff0000;
  --input-border-hover-color: #ff0000;
  --input-bg-color: #ff0000;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box {
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: 15px;
  padding: 5px 15px;
  background: #b0b0b0;
  box-shadow: 0 0 20px rgba(81, 81, 81, 0.995);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

/*Section input*/
.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

/*Search button*/
.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
  background: var(--input-border-color);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: .4;
}

.btn-icon-content:hover {
  opacity: .8;
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}

.delete {
  position: absolute;
  right: .2rem;
  bottom: 1rem;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: 0px;
  border-radius: 50%;
}

.trashcan {
  border-radius: 75%;
}

.card-header {
  position: flex;
  margin: 15px;
}

.trashcan:hover {
  box-shadow: 0 0 10px red;
}

.createdReview {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.471);
  border-radius: 15px;
  color: white;
  outline: none;
}

.button[type='submit'] {
  background-image: linear-gradient(to right, #333333, #555555);
  /* Dark gradient background */
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #444;
  /* Slight border */
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-image 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* Space between the icon and text */
}

.button[type='submit']:hover,
button[type='submit']:focus {
  background-image: linear-gradient(to right, #555555, #777777);
  box-shadow: 0 4px 6px rgba(2, 137, 38, 0.6);
  transform: translateY(-2px);
}

.button[type='submit']:active {
  background-image: linear-gradient(to right, #222222, #444444);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transform: translateY(1px);
}

.starRating{
  align-items: start;
  text-align: left;
  width: fit-content;

}

@media screen and (max-width: 488px) {
  *:not() {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .col-6 {
    min-width: 95vw;
  }

  .profile-container {
    margin: auto;
    justify-content: center;
  }

  .modal-content {
    width: auto;
    height: fit-content
  }

  .mb-0 {
    width: 175px;
    text-wrap: wrap;
    font-size: 75%;
  }

  textarea{
    font-size: 80%;
  }
  .button{
    width: 9rem;
    font-size: 5%;
  }

  .userinfo{
    width: 90vw;
  }

  .userBoxes{
    top: 55px;
  }

  #accordion {
    margin: auto;
  }
  .reviewsContainer{
    h2{
      top: 48px;
    }
  }


}